@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
html, body {
  color: #323232;
  font-size: 16px;
  line-height: 1.6875;
}

.container {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
}
.container--no-padding {
  padding: 0;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
}

.none {
  display: none;
}

a {
  color: black;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input, button {
  border: none;
  font-size: inherit;
  outline: none;
}

button {
  cursor: pointer;
  background: none;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

.nav {
  padding-top: 15px;
  padding-bottom: 33px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

.navigation-list ul {
  display: flex;
  gap: 42px;
}
.navigation-list a {
  color: #323232;
}
.navigation-list a:hover {
  color: #f78434;
}
.navigation-list a.active {
  color: #f78434;
  font-weight: 700;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__text {
  width: 530px;
}

.header__title {
  margin-right: -355px;
  z-index: 9;
  position: relative;
  font-size: 66px;
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 1.46;
}

.header__text p {
  line-height: 1.6875;
  margin-bottom: 1em;
  font-size: 16px;
}

.header__img img {
  border-radius: 40px 40px 40px 0px;
}

.form {
  background: #ffffff;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  margin-top: 120px;
}

.form__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 72px;
  height: 100%;
}
.form__label::before {
  position: absolute;
  top: 20px;
  left: 28px;
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-image: url(../../img/mail.svg);
  background-size: initial;
}

.form__input {
  flex-grow: 1;
  margin-right: 5px;
}
.form__input::placeholder {
  color: #bbb;
}

.button {
  display: inline-block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 29px;
  background-color: #f78434;
  color: #ffffff;
  line-height: 58px;
  font-weight: 700;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background-color: #f8771c;
}
.button--white {
  background-color: #ffffff;
  color: black;
}
.button--white:hover {
  background-color: black;
  color: #ffffff;
}
.button--play {
  padding-left: 50px;
  position: relative;
}
.button--play::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../../img/play.svg);
  background-repeat: no-repeat;
  background-size: initial;
}

.container {
  padding: 100px;
  padding-bottom: 45px;
}

.clients__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.objects {
  padding-top: 45px;
  padding-bottom: 80px;
}

.objects__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-x: hidden;
}

.objects__img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.objects__text {
  max-width: 570px;
  padding-left: 181px;
  margin-left: 160px;
  flex-shrink: 0;
  margin-right: 150px;
}
.objects__text p + p {
  margin-top: 20px;
}

.objects__title {
  margin-bottom: 20px;
}

.objects__button {
  margin-top: 40px;
}

.title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.476;
}

.img-card {
  position: relative;
  width: 385px;
}
.img-card + .img-card {
  margin-left: 32px;
}

.img-card__img {
  border-radius: 20px 20px 0px 20px;
}
.img-card--rounder .img-card__img {
  border-radius: 20px;
}

.img-card__info {
  position: absolute;
  right: -46px;
  bottom: 87px;
}

.card-info {
  display: flex;
  align-items: center;
  padding: 30px;
  background: #ffffff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.card-info__icon {
  margin-right: 20px;
}

.card-info__title {
  font-weight: 700;
}

.card-info {
  display: flex;
  align-items: center;
  padding: 30px;
  background: #ffffff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.card-info__icon {
  margin-right: 20px;
}

.card-info__title {
  font-weight: 700;
}

.cta {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}

.cta__block {
  width: 1110px;
  height: 464px;
  display: flex;
  padding-right: 95px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  background-color: #58BEBF;
  color: #ffffff;
}

.cta__img {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 0px 20px 0px 0px;
  margin-top: 60px;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
}

.cta__text {
  width: 380px;
}
.cta__text p {
  width: 320px;
}

.cta__title {
  margin-bottom: 15px;
}

.cta__buttons-row {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.serve {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
.serve:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F5F6FA;
  position: absolute;
  top: -50%;
  bottom: 50%;
  left: 0;
  z-index: -1;
}

.serve__heading {
  margin-bottom: 45px;
  text-align: center;
}
.serve__heading .title {
  margin-bottom: 10px;
}

.serve__row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
}

.card-customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  transition: background-color 0.2s ease-in;
}
.card-customer p {
  text-align: center;
}
.card-customer__icon {
  fill: #f78434;
}
.card-customer:hover {
  background-color: #f78434;
  color: #fff;
}
.card-customer:hover .card-customer__icon {
  fill: #fff;
}
.card-customer:hover .button {
  background-color: #fff;
  color: #f8771c;
}

.card-customer__text {
  margin-bottom: 25px;
  width: 365px;
}

.benefits {
  padding-bottom: 110px;
}

.benefits__heading {
  padding-bottom: 60px;
  text-align: center;
}

.benefits__row {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.benefits-item {
  text-align: center;
}
.benefits-item__img {
  margin-bottom: 15px;
  display: inline-block;
}
.benefits-item__img circle {
  fill: rgba(88, 190, 191, 0.2);
}
.benefits-item__img path {
  fill: #58BEBF;
}
.benefits-item__img ellipse {
  fill: #58BEBF;
}
.benefits-item:hover .benefits-item__img circle {
  fill: #f78434;
}
.benefits-item:hover .benefits-item__img path {
  fill: #fff;
}
.benefits-item:hover .benefits-item__img ellipse {
  fill: #fff;
}

.benefits-item__title {
  margin-bottom: 2px;
  font-size: 28px;
  font-weight: 700;
}

.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonials__heading {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials__title {
  max-width: 452px;
}

.testimonials__subtitle {
  max-width: 400px;
}

.testimonials__row {
  display: flex;
  justify-content: space-between;
}

.card-testimonials {
  border-radius: 5px;
  overflow: hidden;
  max-width: 350px;
}
.card-testimonials:hover {
  box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
}
.card-testimonials:hover .card-testimonials__city {
  color: #f78434;
}

.card-testimonials__body {
  padding: 30px;
}

.card-testimonials__text {
  margin-bottom: 23px;
}

.card-testimonials__name {
  font-size: 18px;
  font-weight: 700;
}

.card-testimonials__city {
  color: #58BEBF;
}

.contacts {
  position: relative;
  padding-top: 80px;
  padding-bottom: 10px;
  background-image: url(../../img/Bg.svg);
  background-size: cover;
  color: #fff;
}
.contacts:after {
  position: absolute;
  bottom: 0;
  left: 55%;
  content: "";
  background-image: url(../../img/i4.png);
  background-size: initial;
  display: block;
  width: 478px;
  height: 547px;
}

.conatct__info {
  max-width: 360px;
}

.contact__title {
  margin-bottom: 15px;
}

.contact__text {
  margin-bottom: 30px;
  max-width: 242px;
}

.footer {
  padding-top: 86px;
  padding-bottom: 82px;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: 85px;
}

.footer__info-text {
  max-width: 300px;
  margin-bottom: 40px;
}

.footer__social {
  display: flex;
  gap: 30px;
  align-items: center;
}

.footer__nav-block__title {
  font-weight: 700;
  margin-bottom: 18px;
}

.footer__nav-list li {
  margin-bottom: 13px;
}

/*# sourceMappingURL=main.css.map */
