

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__text {
    width: 530px;
}
.header__title {
    margin-right: -355px;
    z-index: 9;
    position: relative;

    font-size: 66px;
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 1.46;
}

.header__text p {
    line-height: 1.6875;
    margin-bottom: 1em;
    font-size: 16px;
}

.header__img img{
    border-radius: 40px 40px 40px 0px;
}
