.objects {
    padding-top: 45px;
    padding-bottom: 80px;
}
.container {
}

.objects__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;
}
.objects__img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.objects__text {
    max-width: 570px;
    padding-left: 181px;
    margin-left: 160px;
    flex-shrink: 0;
    margin-right: 150px;

    p + p{
        margin-top: 20px;
    }
} 

.objects__title {
    margin-bottom: 20px;
}

.objects__button{
    margin-top: 40px;
}